# Set the prefix keys
set -g prefix C-a

# Configure options
set -g mouse on
set -g mode-keys vi
set -g set-clipboard on
set -g history-limit 100000

# Configure pane/window options
set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on

# Configure keybindings
bind X kill-pane
bind C new-window
bind Q confirm-before -p "kill-server? (y/n)" kill-server

# Plugins
{{ if eq .theme "catppuccin" -}}
set -g @plugin 'catppuccin/tmux'
{{- else if eq .theme "tokyonight" -}}
set -g @plugin "janoamaral/tokyo-night-tmux"
{{- end }}
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'mrjones2014/smart-splits.nvim'
set -g @plugin 'omerxx/tmux-sessionx'
set -g @plugin 'omerxx/tmux-floax'

# tmux-floax binding
set -g @floax-bind "F"

# Save shell history in panes
set -g @resurrect-capture-pane-contents "on"

# Search selected text on Google with Shift-s
set -g @open-S 'https://www.google.com/search?q='

# Configure the status-line style
set -g status-left ""
set -g status-left-length 100
set -g status-right-length 100
set -g status-position top

{{ if eq .theme "catppuccin" -}}
# Configure the catppuccin plugin
{{ if eq .theme_variant "light" -}}
set -g @catppuccin_flavor 'latte'
{{- else if eq .theme_variant "dark" -}}
set -g @catppuccin_flavor 'mocha'
{{- end }}
set -g @catppuccin_date_time_text " %Y-%m-%d"
{{- end -}}

{{ if eq .theme "tokyonight" -}}
# Configure the tokyonight plugin
{{ if eq .theme_variant "light" -}}
set -g @tokyo-night-tmux_theme 'day'
{{- else if eq .theme_variant "dark" -}}
set -g @tokyo-night-tmux_theme 'night'
{{- end }}
set -g @tokyo-night-tmux_show_path 1
set -g @tokyo-night-tmux_path_format 'relative'
set -g @tokyo-night-tmux_show_battery_widget 1
{{- end }}

{{ if eq .theme "catppuccin" -}}
# Run catppuccin
run '~/.config/tmux/plugins/tmux/catppuccin.tmux'

# Configure the catppuccin's window style
set -g @catppuccin_window_flags "icon"
set -g @catppuccin_window_status_style "rounded"
set -g @catppuccin_window_text "#{?#{==:#W,#{basename #{pane_current_path}}}, #{b:pane_current_path}, #W}"

# Configure the catppuccin's current window style
set -g @catppuccin_window_current_text "#{?#{==:#W,#{basename #{pane_current_path}}}, #{b:pane_current_path}, #W}"
set -g @catppuccin_window_current_left_separator "#[fg=#{@_ctp_status_bg},reverse]#[none]"
set -g @catppuccin_window_current_right_separator "#[fg=#{@_ctp_status_bg},reverse]#[none]"

# Make the status line pretty and add some modules
set -g status-right "#{E:@catppuccin_status_application}"
set -ag status-right "#{?#{m:*[a-zA-Z]*,#S},#{E:@catppuccin_status_session},}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -agF status-right "#{E:@catppuccin_status_battery}"
set -agF status-right "#{E:@catppuccin_status_date_time}"
{{- else if eq .theme "tokyonight" -}}
# Run tokyonight
run '~/.config/tmux/plugins/tokyo-night-tmux/tokyo-night.tmux'
{{- end }}

# Run tpm
run '~/.tmux/plugins/tpm/tpm'
